/* TODO 1: Universal selector */
* {
    margin: 0;
    padding: 0;
}

/* TODO 2: Type selector cho body */
body {
    font-family: Arial;
    background-color: #f5f5f5;
}

/* TODO 3: ID selector cho header */
#main-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* TODO 4: Class selector */
.nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
}

/* TODO 5: Group selector */
h1, h2, h3 {
    font-family: 'Arial'
}

/* TODO 6: Descendant selector */
nav a {
    display: inline-block;
    margin: 0 10px;
}

/* TODO 7: Pseudo-class */
a:hover {
    color: #ff6600;
    background-color: #eee;
}